* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.strong{
    font-weight: bold;
    color: #222;
}
.menu{
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
color: #44444d;
padding-top: .5rem;
}
.mainContainer {
  /* border: 2px solid red; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
.upperContainer {
  border: 1px solid blue;
  height: 7%;
  width: 100%;
  scroll-behavior: none;
  position: fixed;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.redText{
    /* border: 2px solid black; */
    height: 100%;
    width: fit-content;    

}
.openNav{
    display: flex;
    flex-direction: row;
}
.upperImg1 {
  /* border: 2px solid red; */
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 12rem;
}

.upperImg {
  /* border: 2px solid green; */
  height: 80%;
  width: 10rem;
  border-radius: 5px;
}


.lowerContainer {
  /* border: 5px solid green; */
  height: 80%;
  width: 100%;
  padding-top: 6rem;
  padding-left: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  overflow-y: scroll;
}

.redBox{
    /* border: 2px solid green; */
    width: 90%;
    height: 3rem;
    margin-right: .2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: #f44336;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    padding-left: 1rem;
    flex-direction: row;
    /* padding-right: 1rem;
    box-sizing:inline ; */
}
.redText{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.apple{ 
    /* border: 2px solid black; */
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20rem;

}
.appleStore{
    /* border: 2px solid white; */
    width: 10rem;
    height: 90%;
    margin-left: 25rem;
}

.androidStore{
    /* border: 2px solid white; */
    width: 10rem;
    height: 90%;
    margin-left: 1rem;



}
.SubLower {
  border: 2px solid white;
  border-radius: 5px;
  width: 90%;
  height: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  box-shadow: 0 0 5px #d9d9d9;
  box-shadow: 0 0 5px #d9d9d9
}
.leftSide {
  /* border: 2px solid red; */
  width: 35%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightSide {
  border: 2px solid red;
  width: 65%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
img {
  /* border: 2px solid green; */
  width: 95%;
  height: 95%;
  border-radius: 2px;
}
.Heading {
  /* border: 2px solid blue; */
  width: 90%;
  height: 20%;
  padding-left: .3rem;

}
.Heading1{
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #44444d !important;
    box-sizing: inherit;
    font-size: 22px;
    line-height: 27px;

  
}
.source {
  /* border: 2px solid blue; */
  width: 90%;
  height: 10%;
  padding-left: .3rem;

}

.Short{
    font-family: 'Roboto',sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 22px;
    color: #808290;
  
}


.article {
    padding-left: .3rem;
  /* border: 2px solid blue; */
  width: 90%;
  height: 50%;
  padding-top:.5rem ;
}
.descrip{
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 16px;
line-height: 22px;
color: #44444d;
  
}
.more {
    /* border: 2px solid green; */
    color: #222;
}

.readm{
    color: #222;
    font-family: 'Roboto',sans-serif;
    line-height: 1.4;
    box-sizing: inherit;
    /* position: absolute; */
    left: 0;
    top: 2px;
    font-size: 12px;
    font-weight: 400

}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #303036;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  background-color: #acacaf32;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.footer {
  /* border: 2px solid black; */
  width: 100%;
  height: 13rem;
  background-color: #323232;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footerlft {
    /* border: 2px solid white; */

  border-right: 1px solid white;
  width: 40%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding-right: 2rem;
}
.footerImg {
    /* border: 2px solid white; */
    width: 30%; 
   height: 25%;
}

.footerTxt {
  /* border: 2px solid white; */
  width: 60%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 0.5rem;

}




@media only screen and (max-width:480px) {


    .upperContainer{
    height: 6%;
    }
    .upperImg{
        height: 90%;
        width: 9rem;
         margin-left: 3rem;
    }
    .menu{
        color: transparent;
       
    }

    .lowerContainer{
        width: 99%;

        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        padding-right: 3rem;
    }
    .redBox{
        /* border: 2px solid blue; */
        width: 25rem;
        height: 10rem;
        display: flex;
        flex-direction: column;
    }
    .appleStore{
        display: none;
    }


    .androidStore{
        /* border: 2px solid white; */
        width: 55rem;
        height: 40%;
    margin-left: 18rem;    
    }
    .SubLower{
        width: 90vw;
        height: 40rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        border-radius: 5px;
        box-shadow: 0 0 10px black;
        box-shadow: 0 0 10px black
        
    }

    .leftSide {
        /* border: 2px solid red; */
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img{
        border-radius: 5px;
      }

      .rightSide{
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: none;
      }

      .Heading {
        /* border: 2px solid blue; */
        width: 100%;
        height: 20% fit-content;
      }
      
      .source {
        /* border: 2px solid blue; */
        width: 100%;
        height: 10% fit-content;

      }
      
      .article {
        /* border: 2px solid blue; */
        width: 100%;
        height:  fit-content;

      }
   #rightSide{
    display: flex;

   }

   #rightSide > #a { order: 1; }
#rightSide > #b { order: 3; }
#rightSide > #c { order: 2; }
#rightSide > #d { order: 4; }
    
#lowerContainer{
    display: flex;

}
#lowerContainer > #a { order: 2; }

.footer {
    /* border: 2px solid black; */
    width: 100%;
    height: 9rem;
    background-color: #323232;
    display: flex;
    flex-direction: row;

}

.footerlft {
    border-right: 1px solid white;
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding-right: 2rem;
  }
  .footerImg {
    border: none;
    width: 80%;
    height: 25%;
  }
  
  .footerTxt {
    /* border: 2px solid white; */
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 0.5rem;
  }
}
@media only screen and (min-width:481px) and (max-width:600px) {
    
    .upperContainer{
        height: 6%;
        }

    
    .menu{
        color: transparent;
    }

    .upperImg {
        /* border: 2px solid green; */
        height: 100%;
        margin-left: 3rem;
        width: 8rem;
      }

    .lowerContainer{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        padding-right: 3rem;
    }
    #lowerContainer{
        display: flex;
    
    }
    #lowerContainer > #a { order: 2; }

    .SubLower{
        width: 100%;
        height: 40rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0 0 10px black;
        box-shadow: 0 0 10px black
        
    }
    .redBox{
        /* border: 2px solid blue; */
        width: 20rem;
        height: 10rem;
        display: flex;
        flex-direction: column;
    }

    .appleStore{
        display: none;
    }
    
    .androidStore{
        /* border: 2px solid white; */
        width: 55rem;
        height: 40%;
        margin-right: 1rem;
        margin-left: 20rem;    

    
    }
    .leftSide {
        /* border: 2px solid red; */
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img{
        border-radius: 5px;
      }

      .dynImg {
        border-radius: 5px;
        /* border: 2px solid green; */
        width: 100%;
        height: 95%;
      }
      .rightSide{
        width: 95%;
        height: 90%;
        display: flex;
        justify-content: none;
      }

      .Heading {
        /* border: 2px solid blue; */
        width: 100%;
        height: 20% fit-content;

      }
      
      .source {
        /* border: 2px solid blue; */
        width: 100%;
        height: 10% fit-content;

      }
      
      .article {
        /* border: 2px solid blue; */
        width: 100%;
        height:  fit-content;

      }
   #rightSide{
    display: flex;

   }

   #rightSide > #a { order: 1; }
#rightSide > #b { order: 3; }
#rightSide > #c { order: 2; }
#rightSide > #d { order: 4; }
    
.footer {
    /* border: 2px solid black; */
    width: 100%;
    height: 9rem;
    background-color: #323232;
    display: flex;
    flex-direction: row;

}

.footerlft {
    /* border-right: 1px solid white; */
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding-right: 2rem;
  }
  .footerImg {
    border: none;
    width: 60%;
    height: 55%;
  }
  
  .footerTxt {
    /* border: 2px solid white; */
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 0.5rem;
  }
}


@media only screen and (min-width:601px) and (max-width:800px) {

    .upperContainer{
        height: 6%;
        }

    
    .menu{
        color: transparent;
    }

    .upperImg {
        /* border: 2px solid green; */
        height: 100%;
        margin-left: 3rem;
        width: 8rem;
      }

    .lowerContainer{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        padding-right: 3rem;
    }
    #lowerContainer{
        display: flex;
    
    }
    #lowerContainer > #a { order: 2; }

    .SubLower{
        width: 100%;
        height: 40rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0 0 10px black;
        box-shadow: 0 0 10px black
        
    }
    .redBox{
        /* border: 2px solid blue; */
        width: 55rem;
        height: 10rem;
        display: flex;
        flex-direction: column;
    }

    .appleStore{
        display: none;
    }
    
    .androidStore{
        /* border: 2px solid white; */
        width: 25rem;
        height: 40%;
        margin-right: 1rem;
        margin-left: 20rem;    

    
    }
    .leftSide {
        /* border: 2px solid red; */
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img{
        border-radius: 5px;
      }

      .dynImg {
        border-radius: 5px;
        /* border: 2px solid green; */
        width: 100%;
        height: 95%;
      }
      .rightSide{
        width: 95%;
        height: 90%;
        display: flex;
        justify-content: none;
      }

      .Heading {
        /* border: 2px solid blue; */
        width: 100%;
        height: 20% fit-content;

      }
      
      .source {
        /* border: 2px solid blue; */
        width: 100%;
        height: 10% fit-content;

      }
      
      .article {
        /* border: 2px solid blue; */
        width: 100%;
        height:  fit-content;

      }
   #rightSide{
    display: flex;

   }

   #rightSide > #a { order: 1; }
#rightSide > #b { order: 3; }
#rightSide > #c { order: 2; }
#rightSide > #d { order: 4; }
    
.footer
 {
    /* border: 2px solid black; */
    width: 100%;
    height: 9rem;
    background-color: #323232;
    display: flex;
    flex-direction: row;

}

.footerlft {
    /* border-right: 1px solid white; */
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding-right: 2rem;
  }
  .footerImg {
    border: none;
    width: 60%;
    height: 55%;
  }
  
  .footerTxt {
    /* border: 2px solid white; */
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 0.5rem;
  }


}


@media only screen and (min-width:801px) and (max-width:1000px) {

    .redBox{
        /* border: 2px solid blue; */
        width: 90%;
        height: 4rem;
        display: flex;
        flex-direction: row;
        
    }
    .redText{
        /* border: 2px solid white; */
        height: 100%;
        width: 50%;    
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .apple{
        /* border: 2px solid black; */
        width: 50%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 20rem;


    }
    .appleStore{
        /* border: 2px solid white; */
        width: 7rem;
        height: 90%;
    }
    
    .androidStore{
        /* border: 2px solid white; */
        width: 7rem;
        height: 90%;
    
    
    
    }
}