*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

.mainContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  /* overflow-y: scroll; */


}

.heading{
    /* border:2px solid yellow; */
    margin-top: 1.5rem;

}

.inputs{
    /* border:2px solid green; */
    height: 10%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

}

.inputStyle{

    border: 2px solid #e5c9c5;
    height: 60%;
    width: 15%;
    margin: 5px;
    padding: 5px;
}

.buttonStyle{
    border: 2px solid #e5c9c5;
    height: 60%;
    width: 15%;
    background-color: #e5c9c5 ;
    color: white;
}



.dataContainer{
    box-sizing: border-box;

    /* border: 5px solid green; */
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     /* overflow-y:scroll; */
}



table{

    /* border: 5px solid blue; */
   width: 90%;
   height: 100%;
   padding: 5rem;
   display: flex;
  flex-direction: column;
  align-items: center;
   overflow-y: scroll
}
.tr {
    /* border: 2px solid red; */
    width: 90%;
    height: 7vh;
    background-color:#e5c9c5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding-left: 9px;
    padding-top: 5px;
    padding-right: 15px;
    font-size: 2rem;



}

.td  , .btn{
    /* border: 2px solid black; */

    width: 100%;
    height: 5vh;
    border-spacing: 1rem 1rem;
    font-size: 1.3rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: #e5c9c5;

}

.td button{
    width: 40%;
    height: 70%;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    /* border: none;     */
    
}

.td {
 
    display: flex;
    flex-direction: column;
}
p{
    font-size: 10px;
    color: red;
}


.btnStyle{
    width: 1.8rem ;
    height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:50%;
    background-color: white;
    border: none;



}

.btn{
    display: flex;
    justify-content: space-around;
}